<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>we</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">


    <div class="row">
        <div class="col-md-5">
            <!--text-center-->
            <blockquote class="blockquote ">
                <h2>进度 :</h2>
                <p class="mb-0">版本 0.6.0</p>
                <p>2018.5.5 :实现了相册，纪念日，留言板的基础功能，头像上传</p>
                <p>2018.5.6 :实现了查看组内用户，留言板回收站</p>
                <p>2018.5.7 :实现照片上传，纪念日创建，解决分页BUG</p>
                <p>2018.5.15 :增加通用错误处理，以及面向用户的错误提示信息</p>
                <P>2018.5.16 :实现邮箱注册，与用户名/邮箱 密码登录,完善相关错误提示</P>
                <br>
                <br>
            </blockquote>
        </div>

        <div class="col-md-5">
            <blockquote class="blockquote">
                <h2>求职：</h2>
                <p>后端开发工程师(实习)</p>
                <p>惠宇航</p>
                <p>西安石油大学 计算机科学与技术专业 大三</p>
                <p>联系方式  :Boombaozi@foxmail.com</p>
                <p><i data-feather="github"></i><a  href="https://github.com/Boombaozi">  Github  :github.com/Boombaozi</a> </p>    <br>
                <p></p>
            </blockquote>
        </div>
    </div>

    <div class="row">



    </div>


    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<!--container-->

</body>
</html>