<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>WE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <div class="starter-template">
        <h3>一个关于我们的小站点 :)</h3>
        <p class="lead">记录我们的点滴<br>
            记录我们的纪念日</p>
    </div>

    <div class="row">
        <div class="col-md-4  col-sm-12">

            <img src="../../photos/1.jpg" class="img-fluid" alt="Responsive image">

        </div>
    </div>

    <div class="row">
    </div>
    <!--row-->

    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<!--container-->
</body>
</html>