<!--CREATE TABLE user-->
<!--(-->
<!--id          INT AUTO_INCREMENT     PRIMARY KEY,-->
<!--groupid     INT  NULL,-->
<!--username    VARCHAR(50)  NOT NULL,-->
<!--password    VARCHAR(50)  NOT NULL,-->
<!--image  VARCHAR(500) NULL                  COMMENT '预留',-->
<!--email       VARCHAR(50)  NULL              COMMENT '预留',-->
<!--phone       VARCHAR(20)  NULL             COMMENT '预留',-->
<!--question    VARCHAR(100) NULL             COMMENT '预留',-->
<!--answer      VARCHAR(100) NULL             COMMENT '预留',-->
<!--role        VARCHAR(1)   DEFAULT '1'      COMMENT '角色0-管理员,1-普通用户',-->
<!--status VARCHAR(1) DEFAULT '1' COMMENT '类别状态1-正常',-->
<!--createtime DATETIME     NOT NULL     COMMENT '创建时间',-->
<!--updatetime DATETIME     NOT NULL     COMMENT '最后一次更新时间',-->
<!--UNIQUE (username)-->

<!--);-->


<div id="userlist">
    <table class="table table-sm table-condensed table-hover">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">username</th>
            <th scope="col">email</th>
            <th scope="col">phone</th>
            <th scope="col">role</th>
            <th scope="col">status</th>
            <th scope="col">createtime</th>
            <!--<th scope="col">updatetime</th>-->
        </tr>
        </thead>
        <h th:text="${Model.title}"></h>
        </tr>
        <tr th:if="${Model.userlist.size() eq 0}">
            <td colspan="3">没有用户数据</td>
        </tr>
        <tr th:each="user : ${Model.userlist}">

            <td><img class="rounded-circle img-fluid border border-dark"
                     style="width: 32px;height: 32px;"
                     th:src="${user.image}">
            </td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.status}"></td>
            <td th:text="${user.createtime}"></td>
            <!--<td th:text="${user.updatetime}"></td>-->
            <!--<td><a th:href="@{'/admin/user/delete/'+${user.id}}">禁用</a></td>-->
            <!--<td><a th:href="@{'/admin/user/recover/'+${user.id}}">恢复</a></td>-->
            <!--<td><a th:href="@{'/admin/user/realdelete/'+${user.id}}">删除</a></td>-->
        </tr>
        </tbody>
    </table>

    <div th:replace="~{fragments/page :: page}">...</div>

    <script src="../../js/user/userlist.js" th:src="@{/js/user/userlist.js}"></script>
</div>










