<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>WE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>无权限访问!</strong> <a href="/" class="alert-link">返回首页</a>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<!--container-->
</body>
</html>